/* general styles  */
body {
    font-family: sans-serif;
    margin: 0;
}
img {
    width: 100%;
    height: auto;
}
h1 {
    margin: 0;
}
/* ---------------------------------- */
/* custom styles */
.green {
    background-color: green;
}
.red {
    background-color: red;
    color: white;
}
.grey {
    background-color: black;
    color: white;
}
.border {
    border: solid 1px black;
}
.wrapper {
    padding: 1em;
}
/* ---------------------------------------------- */
/* form styles */
label {
    margin: 1em 0;
}
input[type="text"] {
    background-color: white;
    /* background-image: url("searchicon.png"); */
    /* background-position: 10px 10px; */
    /* background-repeat: no-repeat;
    padding-left: 40px; */
    border: none;
    padding: 1em;
    margin: 0 1em 1em 0;
}
input[type="submit"],
input[type="button"] {
    background-color: white;
    background-color: red;
    color: white;
    /* background-image: url("searchicon.png"); */
    /* background-position: 10px 10px; */
    /* background-repeat: no-repeat;
    padding-left: 40px; */
    border: none;
    padding: 1em;
}
input[type="file"] {
    margin-bottom: 1em;
    /* display: none; */
}
/*  */
.image {
    margin: 0 1em 1em 0;
}
/* flexgrid  */
.flex-grid {
    display: flex;
    flex-flow: column;
    /* width: 100%; */
}
.col {
    flex: 1;
    /* background-color: grey; */
    /* height: 200px; */
    /* margin-bottom: 1em;
    margin-right: 1em; */
}
.col:last-child {
    width: 30%;
}
/* ------------------------------------ */
/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    color: white;
    padding: 1em;
}
.modal img {
    width: 400px;
    height: auto;
}
/* ------------------------- */
@media (min-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .flex-grid {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    }
    .col-100 {
        flex: 1 100%;
    }
    /* .flex2 {
        flex: 2;
    } */
    header {
        /* height: 100px; */
    }
}
@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
    .col-30 {
        flex: 1 29%;
    }
    /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}
