body {
    font-family: sans-serif;
    margin: 0;
}
#main {
    padding: 1em;
}
.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.image {
    flex: 1;
    border: 1px solid black;
    margin-right: 1em;
}
.image img {
    max-width: 100%;
    max-height: 200px;
}
.uploadFIle {
    padding: 1em 0;
}
