/* general styles  */
body {
    font-family: sans-serif;
    margin: 0;
}
img {
    width: 300px;
    height: 200px;
    background-color: black;
}
h1 {
    margin: 0;
}
/* colors */
.grey {
    background-color: black;
    color: white;
}
/* margins */
.marginLeft {
    margin-left: 2.5%;
}
.marginRight {
    margin-right: 2.5%;
}
.marginBottom {
    margin-bottom: 2.5%;
}
.marginTop {
    margin-top: 2.5%;
}
/* content wrapper */
.wrapper {
    padding: 2.5%;
}
/* ---------------------------------------------- */
/* form styles */
label {
    /* margin: 1em 0; */
}
input[type="text"] {
    background-color: white;
    border: none;
    padding: 1em;
    /* margin: 0 1em 1em 0; */
}
input[type="submit"],
input[type="button"],
button {
    /* background-color: white; */
    background-color: red;
    color: white;
    border: none;
    padding: 1em;
}
input[type="file"] {
    padding: 1em;
    /* margin-bottom: 1em; */
}
/* Upload form  */
.uploadForm {
    /* display: none; */
}
/* main vue app magges */
.image {
    border: solid 1px black;
}
/* ---------------------------- */
/* flexgrid  */
/* ---------------------------- */
/* Parent elements */
.flexDisplay {
    display: flex;
}
.flexColumn {
    flex-flow: column;
}
.flexWrap {
    flex-wrap: wrap;
}
.justifySpaceBeetwen {
    justify-content: space-between;
}
/* children */
.flex30 {
    flex: 1 30%;
}
.flex50 {
    flex: 1 40%;
}
.flex100 {
    flex: 1 100%;
}
.col:last-child {
    /* width: 30%; */
}
/* ------------------------ */
/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    color: white;
    padding: 1em;
}
.modal img {
    width: 400px;
    height: auto;
}
