/* general styles  */
body {
    font-family: sans-serif;
    margin: 0;
}
img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    background-color: black;
}
h1 {
    font-size: 1.5em;
}
h1,
p {
    margin: 0 0 0.5em;
}

/* colors */
.grey {
    background-color: black;
    color: white;
}
/* margins */
.margin {
    margin: 2.5%;
}
.marginLeft {
    margin-left: 2.5%;
}
.marginRight {
    margin-right: 2.5%;
}
.marginBottom {
    margin-bottom: 2.5%;
}
.marginTop {
    margin-top: 2.5%;
}
/* content wrapper */
.wrapper {
    padding: 2.5%;
}
/* ---------------------------------------------- */
/* form styles */
label {
    /* margin: 1em 0; */
}
input[type="text"],
input[type="textarea"] {
    background-color: white;
    border: none;
    padding: 1em;
    /* margin: 0 1em 1em 0; */
}
input[type="submit"],
input[type="button"],
button {
    /* background-color: white; */
    background-color: red;
    color: white;
    border: none;
    padding: 1em;
}
input[type="file"] {
    padding: 1em;
    /* margin-bottom: 1em; */
}
/* Upload form  */
.uploadForm {
    /* display: none; */
}
/* main vue app magges */
.image {
    border: solid 1px black;
    height: auto;
}
.imageInfo {
    /* overflow: scroll; */
}
/* ---------------------------- */
/* flexgrid  */
/* ---------------------------- */
/* Parent elements */
.flexDisplay {
    display: flex;
}
.flexColumn {
    flex-flow: column;
}
.flexWrap {
    flex-wrap: wrap;
}
.justifySpaceBeetwen {
    justify-content: space-between;
}
/* children */
.flex {
    flex: 1;
}
.flex30 {
    flex: 1 30%;
}
.flex50 {
    flex: 1 40%;
}
.flex100 {
    flex: 1 100%;
}
.col:last-child {
    /* width: 30%; */
}
/* ------------------------ */
/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    padding: 1em;
    overflow: scroll;
}
.cancel {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
}
.modal img {
    width: 100%;
    height: 50%;
}
.comments {
    color: black;
    /* overflow: scroll; */
}
.commentsContaier {
    background-color: white;
    padding: 2.5%;
}
.commentsSingle {
    border-bottom: solid 1px black;
}
/* Mediaqueries Mobile first aproach */
/* ------------------------- */
@media (min-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
    .mMarginRight {
        margin-right: 2.5%;
    }
    .mMarginLeft {
        margin-left: 2.5%;
    }
}
@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .bFlex50 {
        flex: 1 40%;
    }
    .image {
        /* width: 300px; */
    }
    .image:nth-child(2n + 1) {
        margin-right: 2.5%;
    }
    .image:last-child {
        /* flex-basis: 30%; */
    }
}
@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    .bFlex50 {
        flex: 1 25%;
    }
    .image {
        /* width: 300px; */
    }
    .image:nth-child(2n + 1) {
        margin-right: 0;
    }
    .image:nth-child(1n + 1) {
        margin-right: 2.5%;
    }
    .image:nth-child(3n + 3) {
        /* margin-left: 2.5%; */
    }
    .image:last-child {
    }
    /* ------------------------- */
    /* modal */
    .modal {
    }
    .imageModal {
        display: flex;
    }
    .modal img {
        width: 60%;
        height: 50%;
    }
    .comments {
        color: black;
        display: flex;
        flex-direction: column;
        /* overflow: scroll; */
    }
    .commentsContaier {
        background-color: white;
        padding: 2.5%;
        align-self: flex-end;
        /* flex-grow: 1; */
    }
    .commentsForm {
        display: flex;
        max-width: 40%;
        flex-direction: column;
    }
    .commentForm input {
    }
    .commentsSingle {
        border-bottom: solid 1px black;
    }
}
@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}
